[submodule "x.files"]
	path = x.files
	url = git@github.com:ectorepo/x.files
[submodule "basic-sec"]
	url = git@github.com:ectorepo/basic-sec
	path = basic-sec
[submodule "kde"]
	path = kde
	url = git@github.com:ectorepo/kde
[submodule "sway"]
	path = sway
	url = git@github.com:ectorepo/sway
[submodule "forensics"]
	path = forensics
	url = git@github.com:ectorepo/forensics
[submodule "guix"]
	path = guix
	url = git@github.com:ectorepo/guix
[submodule "scheme"]
	path = scheme
	url = git@github.com:ectorepo/scheme
[submodule "blender"]
	path = blender
	url = git@github.com:ectorepo/blender
[submodule "FreeCAD"]
	path = FreeCAD
	url = git@github.com:ectorepo/FreeCAD
[submodule "emacs"]
	path = emacs
	url = git@github.com:ectorepo/emacs
[submodule "opencascade"]
	path = opencascade
	url = git@github.com:ectorepo/opencascade
[submodule "canvas-lms"]
	path = canvas-lms
	url = git@github.com:ectorepo/canvas-lms
[submodule "guixrus"]
	path = guixrus
	url = git@github.com:ectorepo/guixrus
[submodule "river"]
	path = river
	url = git@github.com:ectorepo/river
[submodule "ROCmSoftwarePlatform"]
	path = ROCmSoftwarePlatform
	url = git@github.com:ectorepo/ROCmSoftwarePlatform.git
[submodule "tensorflow"]
	path = tensorflow
	url = git@github.com:ectorepo/tensorflow.git
